body,#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: PublicSans;
  src: url(./assets/fonts/PublicSans-Regular.ttf);
}

* {
  font-family: PublicSans !important;
}

